@import 'utils/constants';
@import 'utils/colors';
html {
  height: 100%;
  font-family: Poppins;
  font-size: 18px;
}

body {
  height: 100%;
  background-color: $menu-bg-color !important;
}

main {
  height: 100%;
  overflow: auto;
}

#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.content {
  color: $fontColor;
}

.content-container {
  height: calc(100% - $footerHeight);
  width: 80vw;
}
.content-container.mobile{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 100vh;
}

.container-fluid {
  height: 100%;
}



