@import 'utils/constants';
html {
  height: 100%;
  font-family: Roboto;
  font-size: 18px;
}

body {
  height: 100%;
}

main {
  height: 100%;
  overflow: auto;
}

#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.content-container {
  height: calc(100% - $footerHeight);
  width: 80vw;
}
.content-container.mobile{
  width: 100vw;
}

.container-fluid {
  height: 100%;
}



