@import 'utils/colors.scss';

body {
  margin: 0;
  bg-color: $bgColor;
  font-family: 'Poppins-Light', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

