$bgColor: #2B2B2B;
$bgColorLight: rgba(248,249, 250);
$bgCardColor: #3C3F41;
$fontColor: #A5BABA;

$borderColor: rgb(222, 226, 230);

$icon-inactive-color: #4c4d4d;
$icon-active-color: #aab1b8;

$menu-bg-color: #111418;
$menu-font-color: rgba(255, 255, 255, 0.8);
$active-element-color: #20c997;

$font-color-dark: #252b33