@import '../../utils/colors.scss';

.btn-main {
  padding: 10px;
  color: $active-element-color;
  border: 3px solid $active-element-color;
  background-color: transparent;
  border-radius: 100px;
  min-width: 75px;
  width: fit-content;
  font-size: 1rem;

  a {
    color: $active-element-color;
    text-decoration: none;
  }

  svg {
    padding-right: 5px;
  }
}

.btn-main:hover {
  background-color: $active-element-color;
  border: 3px solid $active-element-color;
  transition: all .1s linear;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.btn-main:focus {
  color: $active-element-color;
  background-color: transparent;
  border-color: $active-element-color;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, .5);
}

.btn-main:disabled {
  color: $disabled-element-color;
  border: 3px solid $disabled-element-color;
  background-color: transparent;
  cursor: not-allowed;
}