.contact-info {
  text-align: center;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.contact-form__submit-btn {
 align-self: center;
}
.contact-form__submit-btn__span {
  padding-left: 5px;
}